h1 {
  font-size:45px;
  background-color:DodgerBlue;
}


body {
  background-color;DodgerBlue;

}
  

p {
  font-size:20px;
  font-family: verdana;
  color:SlateBlue;
}


p {
  font-size:45px;
  color:tomato;
  font-family: arial;
}
  
  /* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

<!-- Textfield with Floating Label -->

<form action="#">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3">
    <label class="mdl-textfield__label" for="sample3">Text...</label>
  </div>
</form>

<!-- Colored FAB button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">add</i>
</button>

