h1 {
  font-size:45px;
  background-color:DodgerBlue;
}


body {
  background-color;DodgerBlue;

}
  

p {
  font-size:20px;
  font-family: verdana;
  color:SlateBlue;
}


p {
  font-size:45px;
  color:tomato;
  font-family: arial;
}
  


